body {
   background-color: #222;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

#run-away-btn {
  position: absolute;
  padding: 10px 20px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}
